# PostgreSQL - Users
POSTGRES_USERS_USER=
POSTGRES_USERS_PASSWORD=
POSTGRES_USERS_DB=

# PostgreSQL - Orders
POSTGRES_ORDERS_USER=
POSTGRES_ORDERS_PASSWORD=
POSTGRES_ORDERS_DB=

# MongoDB
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DB=

# JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Email (Brevo)
BREVO_API_KEY=
SENDER_EMAIL=
SENDER_NAME=
