fastapi>=0.110.0
uvicorn[standard]
motor>=3.3.0
pymongo>=4.6.0
python-dotenv
aiokafka>=0.10.0
pydantic>=2.0.0
httpx
prometheus-fastapi-instrumentator>=6.1.0
web3>=7.0.0
opentelemetry-sdk>=1.25.0
opentelemetry-exporter-otlp-proto-grpc>=1.25.0
opentelemetry-instrumentation-fastapi>=0.46b0
opentelemetry-instrumentation-httpx>=0.46b0
